@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bolder text-warning">Welcome to Azure App Services Page VS</h1>
    <h3> @ViewData["Greeting"]</h3>
</div>
